/* layout */

.web_layout {
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 80px 1fr;
}
/* layout */

/* sidebar */
.dashboard_sidebar {
  background: var(--gray-100);
  z-index: 99;
  height: 100vh;
  width: 280px;
  padding: 20px 16px;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  /* position: relative; */
  position: sticky;
  top: 0;
  transition: 0.3s ease-in-out;
}
.menu {
  top: 90px;
}
.menu_icon {
  position: absolute;
  right: -20px;
  top: 46px;
  background-color: var(--blue-500);
  color: var(--main-bg-color);
  font-size: 20px;
  cursor: pointer;
  display: none;
  line-height: 0;
  padding: 6px 0;
}
.logo img {
  width: 190px;
  margin: 10px 0 30px 8px;
}
.side_row {
  padding: 25px;
  width: 100%;
  margin: auto;
  display: block;
}

.nav-links p {
  margin: 15px 10px 6px 10px;
  color: var(--gray-350);
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 475;
  line-height: 20px;
  letter-spacing: -0.05px;
}
.nav-links ul {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 7px;
}
.icon,
.sidebar_icon {
  font-size: 25px;
  stroke: var(--gray-800);
  line-height: 0;
}
.sidebar_icon_active {
  stroke: #fff !important;
}
.nav-links ul li {
  padding: 10px 11px;
  border-radius: 8px;
  transition: 0.2s ease-in-out;
}
.nav-links ul li a {
  text-decoration: none;
  color: var(--gray-800);
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  position: relative;
  top: 1px;
}

.side_active {
  background-color: var(--blue-500);
  color: var(--color-white) !important;
}
.side_active a {
  color: #fff !important;
}
.side_active .icon {
  color: var(--gray-100) !important;
}
.side_sec {
  margin-top: 24px;
}
.side_btn {
  border: none;
  background-color: transparent;
  color: var(--gray-800);
  font-size: 14px;
  text-transform: capitalize;
  position: relative;
  top: 2px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

/* sidebar */

/* header */

.header {
  grid-column-start: 2;
  grid-row-start: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 9;
  padding: 0 35px;
  background-color: var(--main-bg-color);
  border-bottom: 1px solid var(--gray-200);
}

.head-input input {
  position: relative;
  border: none;
  padding: 0 30px;
  font-size: 14px;
  outline: none;
  background: transparent;
}
.head-input input::placeholder {
  font-size: 13px;
  color: var(--gray-350);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.search_icon {
  position: absolute;
  top: -5px;
  font-size: 20px;
  color: var(--gray-350);
  pointer-events: none;
}

.header_right {
  gap: 50px;
}

/* toggle menu */
.menu-toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: not-allowed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-toggle::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 4px;
  background: var(--main-bg-color);
  box-shadow: 0 8px 0 var(--main-bg-color), 0 -8px 0 var(--main-bg-color);
}

.bell_icon {
  font-size: 22px;
  color: var(--blue-800);
  position: relative;
  line-height: 0;
}
.bell_icon::after {
  content: "";
  height: 40px;
  width: 1px;
  background-color: var(--gray-200);
  position: absolute;
  right: -25px;
  top: -10px;
}

/* profile menu */

.profile {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  text-align: end;
}
.profile p {
  line-height: 1;
  font-size: 12px;
  text-align: left;
  margin: 0;
  font-family: "Inter", sans-serif;
  color: var(--gray-600);
}

.menu_down_icon {
  color: var(--gray-600);
  transition: 0.3s ease-in-out;
}

.menu_down_icon_rotate {
  transform: rotate(180deg);
}

.img-box {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}

.img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu {
  position: absolute;
  right: 20px;
  width: 250px;
  /* min-height: 100px; */
  background: var(--main-bg-color);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  border: 1px solid var(--gray-200);
  border-radius: 8px;
  transition: 300ms;
}

.dropdown_active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.menu ul {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 10;
  padding: 0;
  margin: 0;
  background: var(--main-bg-color);
  border-top: 0;
  border-radius: 8px;
}
.bg_btm_menu {
  border-bottom: 1px solid var(--gray-200);
}
.menu ul li {
  list-style: none;
}

.menu ul li:hover {
  background: var(--gray-300);
}

.menu ul li a {
  text-decoration: none;
  color: var(--blue-800);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  gap: 6px;
}
.menu ul li a span {
  margin-right: 5px;
  line-height: 0;
  stroke: var(--gray-800);
}

.menu_li_head {
  margin-bottom: 8px !important;
}

.dashboard_active {
  transform: translateX(0%) !important;
}
.calander_page {
  overflow: hidden;
}

.logout_btn button {
  background: transparent;
  border: none;
  color: #b42318;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding: 15px 20px;
}
.logout_btn button span {
  margin-right: 10px;
  line-height: 0;
}

/* profile menu */

/* responsive css */
@media only screen and (max-width: 1550px) {
  .dashboard_sidebar {
    width: 240px;
  }
  .web_layout {
    grid-template-rows: 62px 1fr;
    grid-template-columns: 240px 1fr;
  }
  .header {
    padding: 0 20px;
  }
  .logo img {
    width: 160px;
    margin: 10px 0 15px 0;
  }
  .nav-links p {
    margin: 10px 9px 6px 10px;
  }
  .icon {
    font-size: 20px;
    color: var(--gray-800);
  }
  .nav-links ul li a {
    font-size: 13px;
  }

  .side_btn {
    font-size: 13px;
  }
  .bell_icon {
    font-size: 20px;
  }
  .head-input input::placeholder {
    font-size: 12px;
  }
  .profile h3 {
    font-size: 13px;
  }
  .profile p {
    font-size: 11px;
    text-align: left;
  }
}

@media only screen and (max-width: 1280px) {
  .web_layout {
    grid-template-columns: 0px 1fr;
  }
  .menu_icon {
    display: block;
  }
  .dashboard_sidebar {
    transform: translateX(-100%);
  }
  .header {
    padding: 0 20px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 0%), 0 3px 6px rgb(0 0 0 / 3%);
  }
  .side_sec {
    margin-top: 17px;
  }
  .nav-links ul {
    margin-top: 2px;
  }
}
@media only screen and (max-width: 767px) {
  .search_icon {
    position: relative;
    pointer-events: all;
    cursor: pointer;
  }
  .go_back_icon {
    position: absolute;
    z-index: 99;
    font-size: 20px;
    color: var(--gray-350);
    line-height: 0;
    top: 3px;
  }
  .head-input input {
    position: relative;
    border: none;
    padding: 0 0 0 30px;
  }
  .header {
    padding: 0 10px;
  }
  .profile p {
    font-size: 11px;
  }
  .img-box {
    width: 36px;
    height: 36px;
  }
  .bell_icon::after {
    display: none;
  }
  .header_right {
    gap: 30px;
  }
}
